# Code Owners Configuration file
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @tesselo/backend
*requirements* @tesselo/admin-tesselators
.github/ @tesselo/devops
