alembic==1.7.1
dotenv-cli==2.2.0
GeoAlchemy2==0.9.4
greenlet==1.1.1
importlib-resources==5.2.2
Mako==1.1.5
MarkupSafe==2.0.1
packaging==21.0
psycopg2-binary==2.9.1
pyparsing==2.4.7
SQLAlchemy==1.4.23
zipp==3.5.0
